:root {
    --primary-color: rgb(35, 51, 88);
    --accent-color: rgb(28, 39, 64);
    --category-bubble-color: rgb(89, 109, 158);
    --category-hover-color: rgb(113, 132, 181);
    --item-bubble-color: rgb(69, 119, 75);
    --item-hover-color: rgb(95, 145, 101);
}

main {
    place-items: center;
}

div {
    margin-inline: auto;
    text-align: center;
}

#playerName {
    background-color: var(--accent-color);
    font-size: 1.25rem;
    margin-bottom: 1rem;
    padding-bottom: 0.25rem;
    border-radius: 1rem;
}