:root {
    --bubble-diameter: 15vh;
    --primary-color: rgb(35, 51, 88);
    --accent-color: rgb(28, 39, 64);
    --category-bubble-color: rgb(89, 109, 158);
    --category-hover-color: rgb(113, 132, 181);
    --item-bubble-color: rgb(69, 119, 75);
    --item-hover-color: rgb(95, 145, 101);
}

body {
    display: flex;
    flex-direction: column;
    min-width: 320px;
}

header {
    flex: 0 70px;
    background-color: var(--accent-color);
}

main {
    display: flex;
    flex: 1 calc(100vh - 100px);
    background-color: var(--primary-color);
}

footer {
    flex: 0 30px;
    align-items: center;
    background-color: var(--accent-color);
}

.anchor-top-left {
    position: absolute;
    left: 10px;
    top: 80px;
}

.anchor-top-right {
    position: absolute;
    right: 10px;
    top: 80px;
}

.anchor-bottom-right {
    position: absolute;
    right: 10px;
    bottom: 1vh;
}

.bubbles {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: calc(100vh - 100px);
}

.bubbles-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: relative;
    list-style: none;
    padding: 0;
}

.bubble {
    width: var(--bubble-diameter);
    height: var(--bubble-diameter);
    border-radius: 50%;
    background-color: var(--category-bubble-color);
    margin: 5px;
}

.bubble.item {
    background-color: var(--item-bubble-color);
}

.bubble:hover {
    background-color: var(--category-hover-color);
}

.bubble.item:hover {
    background-color: var(--item-hover-color);
}

a.bubble-link {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
}

button.bubble-link {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    padding: 0;
    border: none;
    background: none;
}

#shopping-list-table tbody {
    color: black;
}

#shopping-list-table th {
    padding: 12px;
}

#shopping-list-table td {
    padding: 12px;
}

@media (max-width: 350px)
{
    footer {
        font-size: 0.95em;
    }
}